.fa-plus-circle, .fa-chevron-left {
	font-size:50px;
	padding:0px 0px 0px 0px;
}

.fa-users {
  font-size:40px;
  padding:5px 10px 0px 20px;
}

a, a:hover {
	color:#ecf0f1 !important;
}

.navbar-inner {
	background: #1abc9c !important;
	border: 0 none !important;
}

.navbar-fixed-top {
  margin:0px;
}

body {
	background: #ecf0f1;
  padding:0px;
}

body div#main {
}

.brand {
	text-align:center !important;
	color:white !important;
}

.full {
	display:block;
	width:100px;
	height:100px;
	background:red;
}
