<template name="layout">
	{{#HeaderFooterLayout size="[undefined,undefined]" headerSize="150"}}
	    {{#Surface target="header"}}
			{{# header}}
			    {{> backButton}}
			{{/ header}}
	    {{/Surface}}
	    {{>View target="content" template="mainYield" size="[undefined,undefined]"}}
	{{/HeaderFooterLayout}}
</template>



<template name="mainYield">
    {{#RenderController transition=getTransition size="[undefined,undefined]"}}
		<div class="container">
       		{{> yield}}
       	</div>
	{{/RenderController}}
</template>
