<template name="layout">
	{{#HeaderFooterLayout size="[undefined,undefined]"}}
	    {{#Surface target="header"}}
			{{# header}}
			    {{> backButton}}
			{{/ header}}
	    {{/Surface}}
	    {{#Surface target="content"}}
	    	{{#Scrollview size="[undefined,undefined]"}}
	    		{{#View size="[undefined,undefined]"}}
					{{#Surface size="[undefined,undefined]"}}
						<div class="container">			
	       	 			{{> yield}}
	       	 			</div>
	       	 		{{/Surface}}
	       	 	{{/View}}
	       	{{/Scrollview}}
	    {{/Surface}}
	{{/HeaderFooterLayout}}
</template>
