<template name="header">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				{{> UI.contentBlock}}
        <a href="{{pathFor 'friends'}}" class="pull-right">
          <i class="fa fa-users"></i>
        </a>
        <a href="{{pathFor 'questionAdd'}}" class="pull-right">
          <i class="fa fa-plus-circle"></i>
        </a>
			</div>
		</div>
	</div>
</template>



<template name="backButton">
  <a href="{{pathFor 'questionList'}}" class="pull-left">
    <i class="fa fa-chevron-left"></i>
  </a>
</template>
